.virus{
    position: fixed;
    z-index:99;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.clicked{
        transition: 1s;
        animation: shrink-fade 1s forwards;
    }
  }

.virus:hover{
    cursor: url("#{$assets-folder}/cursors/crosshair.svg"), crosshair;
}

// Load virus customisations
@import 'agualess';
@import 'cosmotion';
@import 'flexoria';
@import 'septore';

.stop-animation{
    animation:none;
}

@keyframes shrink-fade{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(0);
        opacity:0;
    }
}