.virus{
    position: fixed;
    z-index:99;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

.virus:hover{
    cursor: url("#{$assets-folder}/cursors/crosshair.svg"), crosshair;
}

// Load virus customisations
@import 'agualess';
@import 'cosmotion';
@import 'flexoria';
@import 'septore';

.stop-animation{
    animation:none;
}